<html>
<head>
<% include partials/header %>
</head>
<body>
<div class="headerSection col-12">
	<div class="row">
		<div class="header col-12">
			<div class="container">
					<ul class="menuDesk">
						<a href="#"><li class="menuDeskItem"><i class="fas fa-align-right" style="margin-right: 10px"></i>ALLA CASINON</li></a>
						<a href="#"><li class="menuDeskItem"><i class="fas fa-fast-forward" style="margin-right: 10px"></i>SPELA DIREKT UTAN KONTO</li></a>
						<a href="#"><li class="menuDeskItem"><i class="fas fa-balance-scale" style="margin-right: 10px"></i>ANSVARSFULLT SPELANDE</li></a>
						<a href="#"><li class="menuDeskItem"><i class="fas fa-info-circle" style="margin-right: 10px"></i>INTEGRITETSPOLICY</li></a>

					</ul>
					
				</div>
			</div>
		</div>

		<div class="jumboMessage col-12">
			<div class="container">
				<div class="row">
					<div class="col-12 mainLogo">
						<img src="img/logobfr2.png">
						<!-- <img src="img/logobfr.png"/> -->
					</div>
					<div class="col-12 jumboMessageInfo">
						<h2>Recensioner</h2>
						<h2>Bonusinformation</h2>
						<h2>Exklusiva erbjudanden</h2>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container">
				<div class="jumboSlider col-9 justify-content-center">
					<div class="jumboSlide">	
						<div class="row">
							<div class="LogoAndStars col-3">
								<div class="row">
									<div class="col-12 logo1">
										<a href="#">
											<img src="img/nyspins.png">
										</a>
									</div>
									<div class="col-12 stars">
										<img src="img/5stars3.png">
									</div>
								</div>
							</div>
							<div class="casinoInfo col-4">
								<div class="row">
									<div class="col-12 bonus">
										<img src="img/coinIcon.png"  class="icon"/><h1>Totalt 10 000 kr i bonus</h1>
									</div>
									<div class="col-12 freespins">
										<img src="img/freespinsIcon.png"  class="icon"/><h1>Upp till 200 freespins</h1>
									</div>
									<div class="col-12 perk">
										<img src="img/perkIcon.png"  class="icon"/><h1>Slipp krånglig registrering och spela direkt med BankID!</h1>
									</div>
								</div>
							</div>
							<div class="casinoButtons col-3">
								<div class="row">
									<div class="col-12 playNow">
										<a href="#"><button class="playNowButton">Spela nu</button></a>
									</div>
									<div class="col-12 review">
										<a href="#"><button class="reviewButton">Recension</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="jumboSlide">	
						<div class="row">
							<div class="LogoAndStars col-3">
								<div class="row">
									<div class="col-12 logo2">
										<a href="#">
											<img src="img/voodoodreams.png">
										</a>
									</div>
									<div class="col-12 stars">
										<img src="img/5stars3.png">
									</div>
								</div>
							</div>
							<div class="casinoInfo col-4">
								<div class="row">
									<div class="col-12 bonus">
										<img src="img/coinIcon.png"  class="icon" /><h1>Totalt 10 000 kr i bonus</h1>
									</div>
									<div class="col-12 freespins">
										<img src="img/freespinsIcon.png"  class="icon"/><h1>Upp till 200 freespins</h1>
									</div>
									<div class="col-12 perk">
										<img src="img/perkIcon.png"  class="icon"/><h1>Slipp krånglig registrering och spela direkt med BankID!</h1>
									</div>
								</div>
							</div>
							<div class="casinoButtons col-3">
								<div class="row">
									<div class="col-12 playNow">
										<a href="#"><button class="playNowButton">Spela nu</button></a>
									</div>
									<div class="col-12 review">
										<a href="#"><button class="reviewButton">Recension</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="jumboSlide">	
						<div class="row">
							<div class="LogoAndStars col-3">
								<div class="row">
									<div class="col-12 logo3">
										<a href="#">
											<img src="img/duelz.png">
										</a>
									</div>
									<div class="col-12 stars">
										<img src="img/5stars3.png" style="margin-right: 50px">
									</div>
								</div>
							</div>
							<div class="casinoInfo col-4">
								<div class="row">
									<div class="col-12 bonus">
										<img src="img/coinIcon.png"  class="icon"/><h1>Totalt 10 000 kr i bonus</h1>
									</div>
									<div class="col-12 freespins">
										<img src="img/freespinsIcon.png"  class="icon"/><h1>Upp till 200 freespins</h1>
									</div>
									<div class="col-12 perk">
										<img src="img/perkIcon.png"  class="icon"/><h1>Slipp krånglig registrering och spela direkt med BankID!</h1>
									</div>
								</div>
							</div>
							<div class="casinoButtons col-3">
								<div class="row">
									<div class="col-12 playNow">
										<a href="#"><button class="playNowButton">Spela nu</button></a>
									</div>
									<div class="col-12 review">
										<a href="#"><button class="reviewButton">Recension</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
		<div class="container">	
			<div class="middleSection col-12">
				<div class="row">
					<div class="middleText col-12">
						<div class="row">
							<div class="col-12 middleTextHeadline">
							</div>
							<div class="col-12 middleTextText">
								<h3>VÄLKOMMEN TILL SVENSKARECENSIONER.SE</h3>
								<p>Lorem ipsum dolor amet pabst la croix mumblecore knausgaard butcher listicle enamel pin small batch anim food truck. Glossier semiotics voluptate street art kickstarter hell of ullamco adipisicing ut polaroid pitchfork. Celiac pinterest franzen street art, raclette selfies salvia banjo thundercats. Gochujang chicharrones dolore, consequat kogi kinfolk typewriter velit paleo. Typewriter listicle et air plant, 3 wolf moon elit eiusmod vexillologist occupy. Glossier semiotics voluptate street art kickstarter hell of ullamco adipisicing ut polaroid pitchfork. Gochujang chicharrones dolore, consequat kogi kinfolk typewriter velit paleo. Typewriter listicle et air plant, 3 wolf moon elit eiusmod vexillologist occupy. Glossier semiotics voluptate street art kickstarter hell of ullamco adipisicing ut polaroid pitchfork.</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="casinoList col-9">
				<div  class="row">
					<div class="casinoItem col-12">
						<div class="row">
							<div class="itemLogo col-3">
								<div class="row">
									<div class="col-12 itemLogoLogo">
										<img src="img/omnia.png">
									</div>
									<div class="col-12 itemLogoStars">
									<img src="img/5stars3.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<% include partials/scripts %>
</body>
</html>