<html>
<head>
<% include partials/header %>
</head>
<body>
<div class="headerSection col-12">
	<div class="row">
		<div class="header col-12">
			<div class="container">
					<ul class="menuDesk">
						<a href="#"><li class="menuDeskItem"><i class="fas fa-align-right" style="margin-right: 10px"></i>ALLA CASINON</li></a>
						<a href="#"><li class="menuDeskItem"><i class="fas fa-balance-scale" style="margin-right: 10px"></i>ANSVARSFULLT SPELANDE</li></a>
						<a href="#"><li class="menuDeskItem"><i class="fas fa-info-circle" style="margin-right: 10px"></i>INTEGRITETSPOLICY</li></a>

					</ul>
					
				</div>
			</div>
		</div>

		<div class="jumboMessage col-12">
			<div class="container">
				<div class="row">
					<div class="col-12 mainLogo">
						<img src="img/logobfr2.png">
						<!-- <img src="img/logobfr.png"/> -->
					</div>
					
					
				</div>
			</div>
		</div>
		
	</div>
		<div class="container">	
			<div class="middleSection col-12">
				<div class="row">
					<div class="middleText col-7">
						<div class="row">
							<div class="col-12 middleTextText">
								<h3><i class="far fa-bookmark" style="margin-right: 10px"></i>VÄLKOMMEN TILL CASINOZAJTER.SE</h3>
								<p>Lorem ipsum dolor amet pabst la croix mumblecore knausgaard butcher listicle enamel pin small batch anim food truck. Glossier semiotics voluptate street art kickstarter hell of ullamco adipisicing ut polaroid pitchfork. Celiac pinterest franzen street art, raclette selfies salvia banjo thundercats. Gochujang chicharrones dolore, consequat kogi kinfolk typewriter velit paleo. Typewriter listicle et air plant, 3 wolf moon elit eiusmod vexillologist occupy. Glossier semiotics voluptate street art kickstarter hell of ullamco adipisicing ut polaroid pitchfork. Gochujang chicharrones dolore, consequat kogi kinfolk typewriter velit paleo. Typewriter listicle et air plant, 3 wolf moon elit eiusmod vexillologist occupy. Glossier semiotics voluptate street art kickstarter hell of ullamco adipisicing ut polaroid pitchfork.</p>
							</div>
						</div>
					</div>
					<div class ="middleSpotlight col-5">
						<div class="slider">
							<div class="slide">
								<img src="img/dreamzb2.png">
							</div>
							<div class="slide">
								<img src="img/thrillsb600.gif">
							</div>
							<div class="slide">
								<img src="img/prontob.gif">
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
<div class="container">
	<div class="casinoListInfo col-12">
		<div class="row">
			<div class="col-2 infoCasino">
				<h2>CASINO</h2>
			</div>
			<div class="col-2 infoRating">
				<h2>BETYG</h2>
			</div>
			<div class="col-8 infoInfo">
				<h2>INFORMATION</h2>
			</div>
			
		</div>
	</div>
</div>
		
<div class="container casinoList">
		<div class="casinoListItem col-12">
			<div class="row">
				<div class="col-2">
					<div class="listLogo">
						<img src="img/omnia4.png">
					</div>
				</div>
				<div class="col-2 stars">
					<h2>Omnia Casino</h2>
					<i class="fas fa-star"></i><i class="fas fa-star" ></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span style="font-size: 20px; font-weight: bold;"> 9.8</span>

				</div>
				<div class="col-5 info">
					<i class="fas fa-check icon"></i><span>Stort utbud av spel</span><br>
					<i class="fas fa-check icon"></i><span>Skattefria vinster på ditt konto inom 5 minuter</span><br>
					<i class="fas fa-check icon"></i><span>Nytt och fräscht casino</span><br>
					

				</div>
				<div class="col-3 button">
					<button class="playButton">TILL OMNIA<i class="fas fa-external-link-alt" style="margin-left: 5px; margin-bottom: 5px; font-size: 15px;"></i></button>
				</div>
			</div>
		</div>

		<div class="casinoListItem col-12">
			<div class="row">
				<div class="col-2">
					<div class="listLogo">
						<img src="img/dreamz.png">
					</div>
				</div>
				<div class="col-2 stars">
					<h2>Dreamz</h2>
					<i class="fas fa-star"></i><i class="fas fa-star" ></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span style="font-size: 20px; font-weight: bold;"> 9.7</span>

				</div>
				<div class="col-5 info">
					<i class="fas fa-check icon"></i><span>200% bonus upp till 1000kr</span><br>
					<i class="fas fa-check icon"></i><span>Insättning direkt med BANK-ID</span><br>
					<i class="fas fa-check icon"></i><span>Vinster är skattefria och finns på kontot på 5 minuter</span><br>
					

				</div>
				<div class="col-3 button">
					<button class="playButton">TILL DREAMZ<i class="fas fa-external-link-alt" style="margin-left: 5px; margin-bottom: 5px; font-size: 15px;"></i></button>
				</div>
			</div>
		</div>

		<div class="casinoListItem col-12">
			<div class="row">
				<div class="col-2">
					<div class="listLogo">
						<img src="img/spela.png">
					</div>
				</div>
				<div class="col-2 stars">
					<h2>Spela Casino</h2>
					<i class="fas fa-star"></i><i class="fas fa-star" ></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span style="font-size: 20px; font-weight: bold;"> 9.6</span>

				</div>
				<div class="col-5 info">
					<i class="fas fa-check icon"></i><span>Stort utbud av spel</span><br>
					<i class="fas fa-check icon"></i><span>Skattefria vinster på ditt konto inom 5 minuter</span><br>
					<i class="fas fa-check icon"></i><span>Nytt och fräscht casino</span><br>
					

				</div>
				<div class="col-3 button">
					<button class="playButton">TILL SPELA<i class="fas fa-external-link-alt" style="margin-left: 5px; margin-bottom: 5px; font-size: 15px;"></i></button>
				</div>
			</div>
		</div>

		<div class="casinoListItem col-12">
			<div class="row">
				<div class="col-2">
					<div class="listLogo">
						<img src="img/nyspins.png">
					</div>
				</div>
				<div class="col-2 stars">
					<h2>NY Spins</h2>
					<i class="fas fa-star"></i><i class="fas fa-star" ></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span style="font-size: 20px; font-weight: bold;"> 9.3</span>

				</div>
				<div class="col-5 info">
					<i class="fas fa-bolt icon"></i><span>Upp till 10 000kr i välkomstbonus</span><br>
					<i class="fas fa-sync-alt icon"></i><span>200 freespins</span><br>
					<i class="fas fa-check icon"></i><span>Nytt och fräscht casino</span><br>
					

				</div>
				<div class="col-3 button">
					<button class="playButton">TILL NYSPINS<i class="fas fa-external-link-alt" style="margin-left: 5px; margin-bottom: 5px; font-size: 15px;"></i></button>
				</div>
			</div>
		</div>

		<div class="casinoListItem col-12">
			<div class="row">
				<div class="col-2">
					<div class="listLogo">
						<img src="img/kaboo.png">
					</div>
				</div>
				<div class="col-2 stars">
					<h2>Kaboo Casino</h2>
					<i class="fas fa-star"></i><i class="fas fa-star" ></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span style="font-size: 20px; font-weight: bold;"> 9.3</span>

				</div>
				<div class="col-5 info">
					<i class="fas fa-bolt icon"></i><span>200% bonus upp till 1000kr</span><br>
					<i class="fas fa-check icon"></i><span>Insättning direkt med BANK-ID</span><br>
					<i class="fas fa-check icon"></i><span>Vinster är skattefria och finns på kontot på 5 minuter</span><br>
					

				</div>
				<div class="col-3 button">
					<button class="playButton">TILL KABOO<i class="fas fa-external-link-alt" style="margin-left: 5px; margin-bottom: 5px; font-size: 15px;"></i></button>
				</div>
			</div>
		</div>

	<!-- <% for (var c in casinos) { %>
		<% if (casinos.hasOwnProperty(c)) { %>

		<div class="casinoListItem col-12">
			<div class="row">
				<div class="col-2">
					<div class="listLogo">
						<img src="img/omnia4.png">
					</div>
				</div>
				<div class="col-2 stars">
					<h2><%= casinos[c].name %></h2>
					<i class="fas fa-star"></i><i class="fas fa-star" ></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span style="font-size: 20px; font-weight: bold;"> 9.8</span>

				</div>
				<div class="col-5 info">
					<i class="fas fa-check icon"></i><span>Stort utbud av spel</span><br>
					<i class="fas fa-check icon"></i><span>Skattefria vinster på ditt konto inom 5 minuter</span><br>
					<i class="fas fa-check icon"></i><span>Nytt och fräscht casino</span><br>
					

				</div>
				<div class="col-3 button">
					<button class="playButton">TILL OMNIA<i class="fas fa-external-link-alt" style="margin-left: 5px; margin-bottom: 5px; font-size: 15px;"></i></button>
				</div>
			</div>
		</div>
		<% } %>
	<% } %> -->
	
</div>



<% include partials/scripts %>
</body>
</html>