<html>
<head>
<% include partials/header %>
</head>
<body>
<!-- <div class="headerSectionMobile">
	<img src="img/logobfr4.png">
</div> -->
<div class="headerSection col-12">
		<div class="container">
			<div class="col-12 mainLogo">
				<a href="/">
					<img src="img/logobfr4.png">
				</a>
			</div>
		</div>
	</div>
		<div class="container">	
			<div class="middleSection col-12">
				<div class="row">
					<div class="middleText col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-12 middleTextText">
								<h1 style=" font-size: 26px;">Privacy policy</h1>
							      <br/>

							      <br/>
							      <br/>
								<h2 style="font-weight: bold; font-size: 20px;">1. Cookie policy</h2>
								<h2 style="font-weight: bold; font-size: 20px;">2. Terms of service</h2>
								<br/>
								<h2 style="font-weight: bold; font-size: 20px;">1. Cookie policy</h2>
								<p>To comply with the laws on using cookies we have the responsibility to tell our visitors what a cookie is and how we use cookies.
								<br/><br/>
								 A cookie is a small piece of data sent from a website and stored on the user's computer by the user's web browser while the user is browsing. Cookies are designed to be a reliable mechanism for websites to remember stateful information or to record the user's browsing activity.
								<br/><br/>
								We use Google Analytics to gather information such as:
								<ul>
								<li> To see what websites our users are referred from, e.g. Google, Facebook, Bing, other websites.</li>
								<li>What kind of device visitors are using, i.e. mobile, desktop, tablet.</li>
								 <li>What sections of the website a user is browsing and the amount of time spent on the website.</li>
								<li>From what geographical region our users are browsing from.</li>
								</ul>

								We only use this information to improve our website and provide a better experience for our users. We will never sell or share this information.</p>
								<br/><br/>


								<h2 style="font-weight: bold; font-size: 20px;">2. Terms of service</h2>
								<p> 
								<ul>
								 <li>Users of our service must be 18 years of age or older.</li>
								 <li>Casinozajter.com can not be held responsible for any agreements, damages or other conflicts that occur between the player and the gaming company.</li>
								 <li>Compensation can never be required by Casinozajter.com and we can not be considered as involved in any disputes.</li>
								 <li>Casinozajter.com can not guarantee that the information contained on our website or a gaming company's website is 100% correct.</li>
								 <li>Casinozajter.com is only a comparison service that refers visitors to different companies and can not be considered a gambling service.</li>
								 <li>We do not encourage you to play if you have a strained economic situation or if you have had gambling problems in the past</li>
								 <li> Gambling should be considered entertainment and not an alternative to employment or other forms of income.</li>
								</ul>

								By browsing www.Casinozajter.com you accept our terms of service and cookie policy.
								<br/><br/>
								If you have signed up for our newsletter and you wish to unsubscribe you can find the unsubscribe button in any of the emails we have sent you.
								<br><br>
								If you have any questions you can reach us at info@Casinozajter.com.
								</p>
							</div>
						</div>
					</div>
				</div>
				</div>
					
		</div>
	

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="footerSection col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h2>Casinozajter.com</h2>
				<p>

					Vi samler og sammenligner de aller beste kasinoene for å finne noe du liker. Vi kan ikke garantere at informasjonen på dette nettstedet er 100% korrekt, men vi gjør vårt beste! Har du spørsmål, vennligst kontakt oss på info@casinozajter.com
				</p>
			</div>
			<div class="footerSection col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<h2>Ansvarlig spilling</h2>
				<p>

					For å kunne registrere en spillekonto hos et nettcasino og spille må man være fylt 18 år. Mindreårige har ikke lov til å bruke spilletjenester. 
					Spill bare for penger du har råd til å tape. Pengespill bør ses som underholdning og ikke et alternativ til sysselsetting.
				</p>
			</div>
			<div class="footerSection col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<img src="img/18logo.png">
			</div>
			<div class="footerSectionBot col-12">
				<h2>Casinozajter.com 2019 | <span style="text-decoration: underline;">Privacy policy</span> </h2>
			</div>
		</div>
	</div>
</div>



<% include partials/scripts %>
</body>
</html>