body {


	background: #ededed;
	font-family: 'Roboto', sans-serif;


}

@media screen and (max-width: 675px) {

	body {

		background: #f6f7fc;

	}


}

.clm {

	display: none;

}


@font-face {
    font-family: "circular-pro";
    src: url(font/circular-pro.ttf) format("truetype");
}


.headerSection {


	height: 350px;
	width: 100%;
	background-image: url("img/bkgr2.png");
	/*background-color: #3498db;*/
	background-size: cover;
	background-repeat: no-repeat;


}

.header {

	height: 45px;
	background-color:  rgba(0,0,0,0.3);
	z-index: 100;
	/*width: 100%;*/

	


}



.navbar-light .navbar-nav .navbar-link {


	color: #fff !important;

}

.navMobile {


	display: none;
	background-color: #001934;

}



@media screen and (min-width: 1350px) {

	#navbarResponsive {

	margin-left: 360px;

	}

}

@media screen and (max-width: 1349px) {

	#navbarResponsive {

	margin-left: 300px;

	}

}

@media screen and (max-width: 1200px) {

	.navMobile {


	display: block;

	}

	.navDesk {


	display: none;

	}

	#navbarResponsive {

		margin-left: 0px;

	}

}





.navbarMobile {

	display: block;
}

.navbarDesk {

	display: none;
}



.header h2 {

	color: #fff;
	font-size: 17px;
	font-family: 'montserrat' ;
	margin-top: 15px;


}

.header h1 {

	font-family: 'righteous';
	color: #fff;
	font-size: 22px;
	text-align: center;
	margin-top: 45px;
	


}



.hamburger {

	width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;

}

.hamburgerIcon {


	margin-top: 30px;
	cursor: pointer;

}

.jumboMessage {

	/*margin-top: 65px;*/

	text-align: center;
	font-family: 'Roboto', sans-serif;


}

.jumboMessage h1 {


	font-size: 45px;
	color: #fff;

}

.jumboMessage h2 {


	font-size: 25px;
	color: #fff;
	margin-top: 60px;
	display: inline;
	background-image: url('img/checkmark_small.png');
	background-repeat: no-repeat;
	background-size: 30px;
	margin-right: 20px;
	padding-left:35px;  /* width of the image plus a little extra padding */
	padding-bottom: 40px;
	

}

.jumboMessage img {

	width: 80px;
	height: auto;
	position: absolute;
	top: -30;
	left: 46%;

}

.jumboMessageInfo {

	padding-top: 145px;

}

.jumboSlider {


	height: 200px;
	background-color: rgba(0, 0, 0, 0.4);
	/*border-radius: 5px;*/
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;

}

.jumboSlide {

	margin-left: 35px;

}

.logo1 img {

	width: 200px;
	height: auto;
	margin-top: 45px;
	margin-left: 20px;


}

.logo2 img {

	width: 200px;
	height: auto;
	margin-top: 15px;
	margin-left: 20px;


}


.logo3 img {

	width: 170px;
	height: auto;
	margin-top: 15px;
	margin-left: 20px;


}


.stars img {

	width: 190px;
	height: auto;
	margin-left: 25px;
	margin-top: -20px;


}

.casinoInfo {

	margin-top: 35px;
	margin-left: 90px;

}

.casinoInfo h1 {

	margin-top: 5px;
	color: #fff;
	font-size: 19px ;

}

.bonus {

	/*background-image: url('img/coinIcon.png');
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 45px;  
	padding-bottom: 20px;
	background-origin: content-box;
*/

}



.coftIcon {

	position: absolute;
	width: 55px;
	height: auto;
	top: 8;
	left: 30;
	z-index: 99;
	
	


}

.casinoButtons {


	margin-top: 10px;

}


.playNowButton, .reviewButton {



	
	background-color:#f1c40f;
	/*-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;*/
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	/*padding:11px 78px;*/
	width: 200px;
	height: 40px;
	text-decoration: none;
	margin-left: 20px;
	transition: 0.4s;
}

.playNowButton {

	margin-top: 40px;


}

.reviewButton {

	margin-top: 20px;

}

.reviewButton:hover,  .playNowButton:hover {

	background-color: #b28f00;

}

/*.playNowButton:hover {
	background-color:#e5b700;
	
}*/

.readReview {

	font-size: 25px;
	color: white;
	text-decoration: none;
	margin-left: 30px;


}

.readReview:hover {

	color: #0c1322;

}

.middleSection {

	/*height: 350px;*/
	background-color: #fff;
	margin-top: -70px;
	border-radius: 5px;
	


}

.casinoOfTheMonth {

	/*height: 500px;*/	
	background-image: url("img/bkgr.png");
	

}

.coftHeadline {

	background-color: #161d2b;
	text-align: center;
	/*height: 10%;*/
	color: #fff;

}

.coftHeadline h1 {


	font-size: 18px;
	margin-top: 10px;

}

.coftLogo {

	/*height: 25%;*/
	/*background-color: #e5e5e5;*/
/*	background: repeating-linear-gradient(
  45deg,
  #161d2b,
  #2d3340 10px,
  #161d2b 10px,
  #161d2b 20px
);
*/


}

.coftLogo img {

	margin-left: 50px;
	width: 250px;
	height: auto;
	margin-bottom: -30px;
	margin-top: -30px;


}



.coftText {

	/*height: 39%;*/
	/*background-color: #e5e5e5;*/
	padding-left: 70px;
	/*padding-top: 20px;*/
	margin-bottom: 20px;

}

.coftText h1 {

	margin-top: 5px;
	color: #fff;
	font-size: 19px ;

}

.coftButtons {

	/*height: 20%;	*/
	/*background-color: #e5e5e5;*/


}

/*.middleTextHeadline {


	background-color: #161d2b;
		height: 38px;

}*/

.middleTextText, .middleTextTextMobile {


	font-family: 'montserrat';
	color: #0c1322;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 40px;

}

.middleTextTextMobile {

	display: none;
	}




.middleTextText h3, .middleTextTextMobile h3 {

	font-size: 21px;

	
	
}

.middleTextText p, .middleTextTextMobile p {

	font-size: 15px;
	line-height: 26px;
	
}

	@media screen and (max-width: 1000px) {

		.middleTextText {

			display: none;
		}

		.middleTextTextMobile {

		display: block;
		}

		.middleTextText h3, .middleTextTextMobile h3 {
			font-size: 17px;
		}

		.middleTextText p, .middleTextTextMobile p {

			font-size: 13px;
			line-height: 26px;
	
		}
	}



.menuDesk {

	list-style: none;
	text-align: center;


}

.menuDeskItem {

	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
	margin-top: 10px;
	color: #fff;


}

.mainLogo img {

	width: 280px;
	left: 38%;
	margin-top: 70px;


}



.casinoListItem {

	margin-top: 10px;
	min-height: 100px;
	background-color: #fff;
	border-radius: 3px;
	color: #373838;
	font-family: 'Open Sans', sans-serif;
	/*border-radius: 10px;*/




}

.listLogo {

	margin-left: -15px;
	height: 100px;





}

.listLogo img:hover {


	width: 183;

}



.listLogo img {
	width: 175;
	height: auto;
	/*border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;*/
	margin-left: 10px;
	margin-top: 5px;
	transition: 0.3s;

}

@media screen and (max-width: 1350px) {

	.listLogo img {

		width: 145;
		margin-top: 10px;


	}

	.listLogo img:hover {

		width: 153;

	}

}

@media screen and (max-width: 1090px) {

	.listLogo img {

		width: 125;
		margin-top: 20px;


	}

	.listLogo img:hover {

		width: 133;

	}

}


@media screen and (max-width: 991px) {

	.listLogo img {

		
		margin-left: 40px;


	}

}

@media screen and (max-width: 875px) {

	.listLogo img {

		
		margin-left: 30px;


	}

}

.playButton {

	border: none;
	height: 50px;
	width: 230px;
	margin-top: 25px;
	border-radius: 5px;
	background-color: #f1c40f;
	box-shadow: 0 3px #f39c12;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	font-size: 19px;
	cursor: pointer;
	transition: 0.3s;
	
	

}

.playButton:hover {


background-color: #f3cf3e;
margin-top: 20px;

}

@media screen and (max-width: 1090px) {

.playButton {


	width: 190px;

	}
}

@media screen and (max-width: 991px) {

	.playButton {


	width: 170px;
	margin-right: 15px;
	font-size: 16px;


	}


	}

.button {

	text-align: center;


}

.fa-star, .fa-star-half {


	color: #f1c40f;

}

@media screen and (max-width: 1090px) {

.fa-star, .fa-star-half {

	font-size: 13px;

	}	
}


.stars {

	padding-left: 50px;
	padding-top: 25px;
}

.stars h2 {

	font-size: 18px;
	transition: 0.3s;

}

@media screen and (max-width: 1350px) {

		.stars h2 {

			font-size: 16px;

		}

	}


.icon {

	color: #2ecc71;
	font-size: 19px;
	margin-top: 4px;
	margin-right: 7px;

}

.info {

	padding-top: 10px;
	padding-left: 50px;

}

@media screen and (max-width: 991px) {

	.info {

		padding-top: 10px;
		padding-left: 30px;

}

	}

.info span {

	font-size: 16px;

}

@media screen and (max-width: 1090px) {

	.info span {

	font-size: 13px;

}
}

.fa-bolt {

	color: #f1c40f;
	/*font-size: 17px;*/
	margin-right: 15px;
	
}

.fa-sync-alt {

	color: #e74c3c;
	/*font-size: 17px;*/
	margin-right: 8px;


}

.ribbon img {

	position: absolute;
	height: 50px;
	width: auto;
	bottom: 20;
	right: 20;

}

@media screen and (max-width: 1350px) {

	.ribbon {

		display: none;

	}

}

.casinoListInfo {


	background-color: #fff;
	margin-top: 10px;
	padding-left: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;


}

.casinoListInfo h2 {


	/*margin-left: -20px;*/
	/*padding-left: -15px;*/
	padding-top: 9px;
	padding-bottom: 3px;

	font-size: 18px;
	color: darkgrey;

}

.infoRating {

	padding-left: 50px;


}

.infoInfo {


	padding-left: 50px;

}

.middleSpotlight {

	padding-top: 20px;
	padding-left: 50px;


}

.sliderMobile {


	display: none;

}

.middleSpotlight img {


	height: 220px;
    width: auto\9; /* ie8 */
    /*margin-left: 50px;*/
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;

}

.middleSpotlight h2 {


	font-size: 20px;

}

@media screen and (max-width: 1350px) {

	.middleSpotlight {

		padding-left: 0px;

	}

	.middleSpotlight img {


		height: 220px;
		margin-top: 5px;

	}
}

@media screen and (max-width: 1200px) {

	.middleSpotlight {

		display: none;

	}	
}




.footer {
	margin-top: 40px;
	height: 200px;
	background-color: #25272e;


}


@media screen and (max-width: 991px) {

	.stars {

		display: none;


	}

	.casinoListInfo {


		display: none;

	}

}


@media screen and (max-width: 850px) {

	.cld {


		display: none;

	}

	.clm {


		display: block;
	}

	.fa-star, .fa-star-half {

	font-size: 21px;
	margin-top: 5px;

	}


	.middleSection {

	margin-top: 0px;
	border-radius: 0px;
	


}

.headerSection {

	display: none;

}



}

.casinoListItemMobile {

	background-color: #fff;
	margin-top: 20px;


}

.mobileLogo {


	
	height: 80px;

}

.mobileLogo img {

	height: 80px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.mobileStars {

	margin-top: 20px;
	height: 30px;
	/*background-color: #f0f5f8;*/

}


.mobileInfo {

	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;


}

@media screen and (max-width: 400px) {


	.mobileInfo {

		font-size: 15px;

	}


}


@media screen and (max-width: 370px) {


	.mobileInfo {

		font-size: 13px;

	}


}


@media screen and (max-width: 335px) {


	.mobileInfo {

		font-size: 12px;

	}


}

.playButtonMobile {

	background-color: #f1c40f;
	border-style: none;
	font-size: 22px;
	width: 100%;
	cursor: pointer;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #fff;
	box-shadow: 0 3px #f39c12;

}

@media screen and (max-width: 850px) {
.ribbon {

		display: block;

	}

}